@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #f9f0f6 0%, #f0e0ec 100%);
  color: #541342;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 40px;
}
